<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewData["Title"] - Đức Anh</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="stylesheet" href="@Url.Content("~/assets/css/base.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/site.css")" asp-append-version="true" />
    <link rel="stylesheet" href="@Url.Content("~/assets/DataTable/css/jquery.dataTables.min.css")" asp-append-version="true" />
    <link rel="stylesheet" href="@Url.Content("~/assets/datatable/css/buttons.datatables.min.css")"/>
    <link rel="stylesheet" href="@Url.Content("~/assets/datatable/css/responsive.datatables.min.css")"/>
    <link rel="stylesheet" href="@Url.Content("~/DucAnh2025.styles.css")" asp-append-version="true" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/bootstrap-icons.css")" />

</head>